html{
    background-color:#000000;
}
.divBottom{
    display:flex;
    justify-content: center;
    height:50vh;
    width:33%;
    border:1px solid black;
    border-radius:3%;
}
.hexNum{
    font-size:7vw;
    color:white;
    font-family: 'Roboto Mono', monospace;
}
#time{
    font-size:7vw;
    color:white;
    font-family: 'Roboto Mono', monospace;
}
.divTop{
    display:flex;
    justify-content: center;
}
#parentTop{
    height:10vh;
    width:100vw;
}
#parentMiddle{
    height:40vh;
    width:100vw;
}
#parentBottom{
    display:flex;
    justify-content: center;
}
#clock{
    height:20vh;
    width:100vw;
}